stages:
  - dependencies
  - prepare
  - build
  - deploy

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == 'master'

default:
  tags:
    - 'mais'
  image: node:23

cache:
  key: node_modules
  paths:
    - node_modules/

dependencies:
  stage: dependencies
  before_script:
    - echo "Install dependencies..."
  script:
    - npm install -g pnpm
    - npm install -g nuxi
    - pnpm i

prepare:
  stage: prepare
  dependencies:
    - dependencies
  before_script:
    - echo "Prepare for build..."
  script:
    - npm install -g pnpm
    - npm install -g nuxi
    - pnpm run postinstall
  artifacts:
    paths:
      - .nuxt/
    expire_in: 1 hour

build:
  stage: build
  dependencies:
    - prepare
  before_script:
    - echo "Building..."
  script:
    - npm install -g pnpm
    - npm install -g nuxi
    - pnpm run build
  artifacts:
    paths:
      - .nuxt/
      - .output/
      - i18n/
    expire_in: 1 hour

deploy-mais:
  stage: deploy
  image: docker:latest
  tags:
    - 'mais'
  dependencies:
    - build
  before_script:
    - echo "Deploying..."
    - export CRYPTOCLOUD_API_KEY="$CRYPTOCLOUD_API_KEY"
    - export CRYPTOCLOUD_SHOP_ID="$CRYPTOCLOUD_SHOP_ID"
    - export DATABASE_NAME="$DATABASE_NAME"
    - export DATABASE_URL="$DATABASE_URL"
    - export DOCKER_BUILDKIT=0
  script:
    - docker compose up --detach --build

deploy-res-5:
  stage: deploy
  image: docker:latest
  tags:
    - 'res-5'
  dependencies:
    - build
  before_script:
    - echo "Deploying..."
    - export CRYPTOCLOUD_API_KEY="$CRYPTOCLOUD_API_KEY"
    - export CRYPTOCLOUD_SHOP_ID="$CRYPTOCLOUD_SHOP_ID"
    - export DATABASE_NAME="$DATABASE_NAME"
    - export DATABASE_URL="$DATABASE_URL"
    - export DOCKER_BUILDKIT=0
  script:
    - docker compose up --detach --build
