[data-theme="dark"] {
  --text-color-primary: #ffffff;
  --text-color-secondary: #b0b0b0;
  --text-color-dark: #e0e0e0;
  --text-color-gray: #9a9fae;
  --text-color-light: #f8f8f8;
  --text-navigation: #e0e0e0;
  --text-stack: #3d3a48;
  --text-card-stack: #3d3a48;
  --background: #120e1c;
  --color-gray: #625F77;
  --background-word: #3D2A5A;
  --link-hover: #FCF58D;
  --donate-button-color: #31fa4f;
  --button-color: #fff02b;
  --secondary-button-color: #351479;
  --solid-button-text: #3d3a48;
  --outline-button-text: #ffffff;
  --donate-button-text: #252525;
  --username: #DFC7FF;
  --color-typer-text: #BFA8E0;
  --color-typer-cursor: #FCF58D;
  --donate-select: #A782FF;
  --blur: blur(8px);
  --text-stroke: 2px;
  --logo-gradient: -webkit-linear-gradient(0deg, #dcc944 10%, #FCF58D 50%, #a960f5 90%);
  --stack-gradient: -webkit-linear-gradient(0deg, #f6ef9d 15%, #f6ef8b 60%, #e3c17d 100%);
  --announcements-gradient: -webkit-linear-gradient(0deg, #FCF58D 20%, #FFE89C 80%);
  --card-gradient: -webkit-linear-gradient(0deg, #f6ef9d 15%, #f6ef8b 60%, #e3c17d 100%);
  --card-stack-gradient: -webkit-linear-gradient(0deg, #f6ef9d 15%, #f6ef8b 60%, #e3c17d 100%);
  --glass-border: rgba(210, 210, 210, 0.2);
  --glass-background: rgba(143, 143, 143, 0.1);
  --selection-background: #FCF58D;
  --selection-color: #2C2044;
  --scrollbar-shadow: rgba(255, 255, 255, .2);
  --scrollbar-background: rgba(100, 100, 100, 0.5);
}

