// Small devices
$screen-xss: 480px;
// Mobile breakpoint
$screen-xs: 576px;
// Tablet breakpoint
$screen-sm: 768px;
// Laptop breakpoint
$screen-md: 1280px;
// Desktop breakpoint
$screen-lg: 2880px;
// Large desktop breakpoint
$screen-xl: 3072px;
